<!DOCTYPE html>
<html>
	<head>
		<title>Project 12</title>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
		<link href='css/index.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="garbageContainer">
			<h1>the quick brown fox jumps over the lazy dog.</h1>
			<h1>THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG.</h1>
		</div>
		<h1>Welcome to Project 12</h1>
		<hr>		
		<form>
			<input type="email" placeholder="Email" id="user" required/>
			<input type="password" placeholder= "Password123" id="pass" required/>
			<input type="submit" id="submit">
		</form>
	</body>
</html>