<!DOCTYPE html>
<html>
	<head>
		<title>Project 12</title>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
		<link href='css/index.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="title">
			<h1>Login to Project 12</h1>
		</div>	
		<div id="login">
			<input type="email" placeholder="Email" id="user" required/>
			<input type="password" placeholder= "Password" id="pass" required/>
			<button id="submit">Submit</button>
		</div>
		<script src="//www.parsecdn.com/js/parse-1.2.19.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="js/login.js"></script>
	</body>
</html>