<!DOCTYPE html>
<html>
	<head>
		<title>Project 12</title>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
		<link href='css/index.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
	</head>
	<body>
		<div class="title">
			<h1>Login to Project 12</h1>
		</div>	
		<div class="logo">
		 <img src="http://1.bp.blogspot.com/-sB2YS0v7sRA/Ua3kCJqKgGI/AAAAAAAAEq4/MyqhX2BpYP0/s1600/12.jpg">
		</div>
		<div class="login">
			<form>
				<input type="email" placeholder="Email" id="user" required/>
				<input type="password" placeholder= "Password123" id="pass" required/>
				<input type="submit" id="submit">
			</form>
		</div>
		<script src="//www.parsecdn.com/js/parse-1.2.19.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
		<script src="js/login.js"></script>
	</body>
</html>